.topnav {
    overflow: hidden;
    background-color: #333;
    border-bottom: 3px solid white;
  }
  
  .topnav a {
    float: left;
    color: #DCDCDC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333;
   
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }