* {
    background-color: #f57e27;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}



  .header{
    font-size: 6vmax;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bolder;
}

.breif-Info{
  margin-bottom:0;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 20px; 
  padding-bottom: 20px;
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  border-color: #333;
  text-align: center;
  
}
.personal-info {
  margin-bottom: 0;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 20px; 
  padding-bottom: 20px;
  background-color: white !important;
  border-style: solid;
  border-radius: 20px;
  border-color: #333;
  text-align: center;
  
}

.generalText{
background-color: white;
font-weight:bold;
padding: 1%;
}

.headshot{
  width: 50%;
  border-radius: 20px;
}

.row{
  padding-top: 3%;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: flex-end;
}

.column {
    width: 33%;
    box-sizing: border-box;
    text-align: center;
}

.contact-photos{
    width: 30%;
    border-radius: 10px;
}

.contact-photos:hover {
    filter: brightness(.4); 
}
  
.subtext {
  margin-top: 6px;
  font-size: 14px;
  font-weight: bolder; 
}

.project-section{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.7s ease-in;
  padding: 7%;
}

.project-section.active {
  opacity: 1;
  transform: translateY(0);
  
}

.project-title{
  /* the last number changes opacity 0-1*/
   background-color: rgba(255, 255, 255, 0.60);
 }
.project-info{
 /* the last number changes opacity 0-1*/
  background-color: rgba(255, 255, 255, 0.60);
  padding-bottom: 1%;
}

.project-highlights {
  font-weight: bold; /* Example of making the text slightly darker */
  background-color: rgba(255, 255, 255, 0); /* Same background color and opacity */
}
.project-list{
  background-color: rgba(255, 255, 255, .6);
  padding-left: 10%; /* Adjust this value as needed */
}
.project-list-info{
  background-color: rgba(255, 255, 255,0);
}


