* {
    background-color: #f57e27;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    border-bottom: 3px solid white;
  }
  
  .topnav a {
    float: left;
    color: #DCDCDC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333;
   
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .header{
    font-size: 4vmax;;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bolder;
}

.breif-Info{
  margin-bottom:0;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 20px; 
  padding-bottom: 20px;
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  border-color: #333;
  text-align: center;
  
}
.personal-info {
  margin-bottom: 0;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 20px; 
  padding-bottom: 20px;
  background-color: white !important;
  border-style: solid;
  border-radius: 20px;
  border-color: #333;
  text-align: center;
  
}

.generalText{
background-color: white;
font-weight:bold;
padding: 1%;
}
.headshot{
  width: 50%;
  border-radius: 20px;

}