* {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}
body{
  background-image: url("../photos/background.jpg");
}

 


  .header{
    font-size: 13vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    font-weight: bolder;
}

.breif-Info{
  margin-bottom:0;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 20px; 
  padding-bottom: 20px;
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  border-color: #333;
  text-align: center;
  
}
.personal-info {
  margin-bottom: 0;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 20px; 
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.70);
  border-style: solid;
  border-radius: 20px;
  border-color: #333;
  text-align: center;
  
}

.generalText{background-color: rgba(255, 255, 255, 0.0);
font-weight:bold;
padding: 1%;
}

.indexText{background-color: rgba(255, 255, 255, 0.0);
  font-weight:bold;
  padding: 1%;
  }

.headshot{
  width: 20vw; /* Adjust width relative to viewport width */
    height: auto;
  border-radius: 20px;
}
.hockeyshot{
  width: 50%;
  height: auto;
  border-radius: 20px;
}

.row{
  padding-top: 3%;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: flex-end;
}

.column {
    width: 33%;
    box-sizing: border-box;
    text-align: center;
}

.contact-photos{
    width: 30%;
    border-radius: 10px;
}

.contact-photos:hover {
    filter: brightness(.4); 
}
  
.subtext {
  margin-top: 6px;
  font-size: 14px;
  font-weight: bolder; 
}

.project-section.active {
  opacity: 1;
  transform: translateY(0);

}

.project-section{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.7s ease-in;
  padding: 7%;  
  
}

.project-title{
  
   background-color: rgba(255, 255, 255, 0.0);
   font-size: x-large;
   padding: 1%;
   
}

.project-info{

 background-color: rgba(255, 255, 255, 0.70);
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-right-style: solid;
  border-left-style: solid;
  
  border-color: #333;
  
  
}
.project-date{
  background-color: rgba(255, 255, 255, 0.0);
  font-size: large;
  padding-bottom: 1%;
  padding-right: 1%;

  
}

.project-highlights {
  font-weight: bold; 
  background-color: rgba(255, 255, 255, 0);
}
.project-list{
  background-color: rgba(255, 255, 255, .7);
  padding-left: 7%;
  padding-bottom: 1%;

  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  
  border-color: #333;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  
  
  
}
.project-list-info{
  background-color: rgba(255, 255, 255,0);

}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgba(255, 255, 255, .7);
  border-color: #333;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
}


.personal-info {
  display: flex; 
  align-items: flex-start; 
}


.section{
  margin: 15px;
  text-align: center;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.70);
  border-style: solid;
  border-radius: 20px;
  border-color: #333;
  margin: 0 auto;
  padding: 25px;
  max-width: 75%;
}
.about-text{
  background-color: rgba(255, 255, 255, 0.0);
  font-weight:bold;
}